<div class="container-sm mt-5" style="max-width: 960px; margin-bottom: 200px;">
<div class="row">
  <h2>Estadisticas</h2>
  <hr>
  <div class="col-lg-8 col-sm-12">
    <h5>Ultimas ventas</h5>
    <table class="table" style="background-color: #ecba51; color: white;">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">1234</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-4 col-sm-12">
    <h5>Ultimos mensajes</h5>
    <div class="row">
      <div class="card col-12 mb-1" >

        <div class="card-body">
          <h5 class="card-title">Duda</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Responder</a>
        </div>
      </div>

      <div class="card col-12 mb-1" >

        <div class="card-body">
          <h5 class="card-title">Duda</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Responder</a>
        </div>
      </div>
      <div class="card col-12 mb-1" >

        <div class="card-body">
          <h5 class="card-title">Duda</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Responder</a>
        </div>
      </div>
      <div class="card col-12 mb-1" >

        <div class="card-body">
          <h5 class="card-title">Duda</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Responder</a>
        </div>
      </div>
    </div>

  </div>
</div>



</div>
