<div class="container-sm" style="max-width: 960px; margin-bottom: 200px;">

  <div class="row">
    <h2>Informacion</h2>
    <hr>
    <div class="col-lg-6 col-sm-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia nibh ornare, auctor nisl sit amet, imperdiet diam. Ut at enim malesuada, facilisis urna id, lobortis enim. Donec vitae magna eu risus dapibus bibendum. Phasellus ante erat, sodales eu porta in, tempor nec orci. In at rutrum enim. Mauris suscipit varius nisl, a auctor risus lobortis a. Curabitur auctor lacus sodales, rutrum metus et, molestie velit.

        Etiam tristique ligula id turpis euismod porta. Suspendisse pharetra arcu vitae convallis elementum. Nunc eu finibus sem. Quisque fringilla elit arcu, eget tristique lorem blandit sit amet. Nulla molestie diam nisl, eu commodo libero ornare vitae. Morbi turpis tellus, fringilla in augue eget, dignissim gravida nunc. Fusce maximus, leo nec sagittis suscipit, quam magna suscipit nibh, at egestas ex nunc sed massa. Maecenas sagittis tellus at erat aliquet, non consequat nibh sagittis.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus sem nisi, nec molestie mauris bibendum id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rutrum felis a faucibus feugiat. Suspendisse varius, sem quis sodales feugiat, purus elit molestie tortor, non sagittis ante dui id tortor. Aliquam elementum nulla nec libero sodales, quis congue lectus pharetra. Nam sapien urna, pretium placerat dolor non, interdum dapibus risus. Duis faucibus eu mi quis vulputate. Nullam malesuada sodales est, vitae facilisis augue congue at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur magna felis, varius ac luctus sit amet, feugiat at elit. Nulla hendrerit tortor tristique, sollicitudin neque nec, rhoncus dui.

        Pellentesque a enim nulla. Nam vitae sodales tortor. Integer dignissim, felis id tincidunt volutpat, nisl diam consectetur lectus, ac consectetur magna ante fermentum lorem. Curabitur vitae convallis metus. Sed tincidunt ut justo eget egestas. Maecenas sodales pharetra massa, sed suscipit nisi interdum a. In molestie interdum massa eu elementum. Sed quis imperdiet nibh.

        Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla volutpat, tellus ut bibendum posuere, eros libero ultrices tellus, a vestibulum nisi mauris vel ipsum. Donec non lectus vel tellus interdum viverra. Ut dignissim velit mauris, in ornare libero pretium sit amet. Nulla pharetra ante sapien, sed ultrices lorem ultricies ac. Etiam eget eros quam. In aliquam feugiat orci, et varius felis pretium sed. Vivamus eu arcu augue. Etiam sem purus, tincidunt ac ante quis, faucibus lobortis lorem. Sed mattis sapien in sapien accumsan, non mollis neque sollicitudin.</p>
    </div>
    <div class="col-lg-6 col-sm-6">
      <img src="assets/foto.jpeg" class="img-fluid">
    </div>

  </div>
</div>
