<div class="container-sm mt-5" style="max-width: 1080px; margin-bottom: 200px;">
  <div class="row">
    <h2>Articulos</h2>
    <hr>
    <!-- Card -->
    <div class="col-sm-12 col-md-6 col-xl-4 p-1 ">
      <div class="card">
        <div class="card-body row">
          <!--Imagen -->
          <div class="col-4">
            <img src="assets/ps5.jpeg" class="img-fluid">
          </div>
          <!-- Datos -->
          <div class="col-8" style="font-size: smaller">
            <h6 class="card-title">PS5</h6>
            <p class="card-text"><b>Descripicion: </b>Directa desde el futuro y con un diseño renovado en color blanco llega la Sony PS5 Stand C con un mando DualSense™ </p>
            <p class="card-text"><b>Categorias: </b></p>
            <ul>
              <li>Videojuegos</li>
              <li>Consolas</li>
              <li>Consolas</li>
              <li>Consolas</li>

            </ul>
            <p class="card-text"><b>Precio: </b>Un huevo</p>
            <p class="card-text"><b>Stock: </b> -100000000</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 p-1 ">
      <div class="card h-100">
        <div class="card-body row">
          <!--Imagen -->
          <div class="col-4">
            <img src="assets/ps5.jpeg" class="img-fluid">
          </div>
          <!-- Datos -->
          <div class="col-8" style="font-size: smaller">
            <h6 class="card-title">PS5</h6>
            <p class="card-text"><b>Descripicion: </b>Directa desde el futuro y con un diseño renovado en color blanco llega la Sony PS5 Stand C con un mando DualSense™ </p>
            <p class="card-text"><b>Categorias: </b></p>
            <ul>
              <li>Videojuegos</li>
              <li>Consolas</li>

            </ul>
            <p class="card-text"><b>Precio: </b>Un huevo</p>
            <p class="card-text"><b>Stock: </b> -100000000</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 p-1">
      <div class="card h-100">
        <div class="card-body row">
          <!--Imagen -->
          <div class="col-4">
            <img src="assets/ps5.jpeg" class="img-fluid">
          </div>
          <!-- Datos -->
          <div class="col-8" style="font-size: smaller">
            <h6 class="card-title">PS5</h6>
            <p class="card-text"><b>Descripicion: </b>Directa desde el futuro y con un diseño renovado en color blanco llega la Sony PS5 Stand C con un mando DualSense™ </p>
            <p class="card-text"><b>Categorias: </b></p>
            <ul>
              <li>Videojuegos</li>
              <li>Consolas</li>

            </ul>
            <p class="card-text"><b>Precio: </b>Un huevo</p>
            <p class="card-text"><b>Stock: </b> -100000000</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 p-1">
      <div class="card h-100">
        <div class="card-body row">
          <!--Imagen -->
          <div class="col-4">
            <img src="assets/ps5.jpeg" class="img-fluid">
          </div>
          <!-- Datos -->
          <div class="col-8" style="font-size: smaller">
            <h6 class="card-title">PS5</h6>
            <p class="card-text"><b>Descripicion: </b>Directa desde el futuro y con un diseño renovado en color blanco llega la Sony PS5 Stand C con un mando DualSense™ </p>
            <p class="card-text"><b>Categorias: </b></p>
            <ul>
              <li>Videojuegos</li>
              <li>Consolas</li>

            </ul>
            <p class="card-text"><b>Precio: </b>Un huevo</p>
            <p class="card-text"><b>Stock: </b> -100000000</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 p-1">
      <div class="card h-100">
        <div class="card-body row">
          <!--Imagen -->
          <div class="col-4">
            <img src="assets/ps5.jpeg" class="img-fluid">
          </div>
          <!-- Datos -->
          <div class="col-8" style="font-size: smaller">
            <h6 class="card-title">PS5</h6>
            <p class="card-text"><b>Descripicion: </b>Directa desde el futuro y con un diseño renovado en color blanco llega la Sony PS5 Stand C con un mando DualSense™ </p>
            <p class="card-text"><b>Categorias: </b></p>
            <ul>
              <li>Videojuegos</li>
              <li>Consolas</li>

            </ul>
            <p class="card-text"><b>Precio: </b>Un huevo</p>
            <p class="card-text"><b>Stock: </b> -100000000</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 p-1">
      <div class="card h-100">
        <div class="card-body row">
          <!--Imagen -->
          <div class="col-4">
            <img src="assets/ps5.jpeg" class="img-fluid">
          </div>
          <!-- Datos -->
          <div class="col-8" style="font-size: smaller">
            <h6 class="card-title">PS5</h6>
            <p class="card-text"><b>Descripicion: </b>Directa desde el futuro y con un diseño renovado en color blanco llega la Sony PS5 Stand C con un mando DualSense™ </p>
            <p class="card-text"><b>Categorias: </b></p>
            <ul>
              <li>Videojuegos</li>
              <li>Consolas</li>

            </ul>
            <p class="card-text"><b>Precio: </b>Un huevo</p>
            <p class="card-text"><b>Stock: </b> -100000000</p>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
